
         body{
                background-color: #191a1c;
            }

        hr{
                border-width: 1px #fff solid;
            }

        .font-1{
                font-size: 34px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #fff;
                text-align: center;
            }

        .font-2{
                font-size: 24px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #fff;
                text-align: center;
            }

        .container-1{
                background-color: #2e2b2b;
                border-radius: 3px;
                border-left: 4px solid #890000;
                max-width: 480px;
                margin: 20px auto;
            }

        .container-2{
                background-color: #2e2b2b;
                border-radius: 3px;
                border-left: 4px solid #890000;
                max-width: 680px;
                margin: 20px auto;
            }

        .container{
                background-color: #2e2b2b;
                border-radius: 15px;
                border: 2px solid #d6933c;
                max-width: 480;
            }